In [1]:
#Importando Pandas e Numpy
import pandas as pd
import numpy as np

In [2]:
#Carregar arquivo csv
csv_file_path = 'D:\OneDrive\Python\Olinda_Download_20Set21\Atendimento_PDDE_PREVISTO.csv'

#Ler arquivo csv com condições
df = pd.read_csv(csv_file_path,
                 converters={'co_entidade': lambda x: str(x),
                             'nu_cgc_entidade': lambda x: str(x), 
                             'nu_cgc_entidade_proponente': lambda x: str(x),
                             'co_programa_fnde': lambda x: str(x),
                             'co_destinacao': lambda x: str(x),
                             'co_municipio_fnde': lambda x: str(x),
                             'co_mesoregiao': lambda x: str(x),
                             'sg_uf': lambda x: str(x),
                             'co_regiao': lambda x: str(x),
                             'co_esfera_adm': lambda x: str(x),
                             'tp_entidade': lambda x: str(x),
                             'tp_localizacao': lambda x: str(x),
                             'tp_escola': lambda x: str(x),
                             'vl_custeio_recurso': lambda x: str(x),
                             'vl_capital_recurso': lambda x: str(x),
                             'vl_total_recurso': lambda x: str(x)})
         
#Verificar leitura de arquivo csv
print(df.head(5))

    co_entidade nu_cgc_entidade nu_cgc_entidade_proponente  co_escola  \
0  000000208910  45283009000195             45283009000195   35145543
1  000000208910  45283009000195             45283009000195   35145543
2  000000208910  45283009000195             45283009000195   35145543
3  000000208910  45283009000195             45283009000195   35145543
4  000000208910  45283009000195             45283009000195   35145543

          no_escola  nu_seq_escola  an_exercicio co_programa_fnde  \
0  APAE DE BARRETOS         208910          2008               02
1  APAE DE BARRETOS         208910          2008               A3
2  APAE DE BARRETOS         208910          2013               A3
3  APAE DE BARRETOS         208910          2014               A3
4  APAE DE BARRETOS         208910          2015               A3

  co_destinacao co_municipio_fnde  ... sg_uf co_regiao co_esfera_adm  \
0            01            350550  ...    SP        SE             3
1            01            350550  ...    SP        SE             3
2            01            350550  ...    SP        SE             3
3            01            350550  ...    SP        SE             3
4            01            350550  ...    SP        SE             3

  tp_entidade tp_localizacao tp_escola qt_alunos  vl_custeio_recurso  \
0          EM           null       PUB       212                3649
1          EM           null      null       212                3649
2          EM              U      null       185                6050
3          EM              U       PRI       197                6410
4          EM              U       PRI       150                5000

  vl_capital_recurso vl_total_recurso
0               3649             7298
1               3649             7298
2               6050            12100
3               6410            12820
4               5000            10000

[5 rows x 21 columns]

In [ ]:
df.dtypes

In [7]:
#Substituicoes

#Replace "null" textuais por vazios
for column in df.columns:
    df[column] = df[column].replace("null","")

#Replace ponto por vírgulas das colunas R$
df["vl_custeio_recurso"] = df["vl_custeio_recurso"].str.replace(',','.')    
df["vl_capital_recurso"] = df["vl_capital_recurso"].str.replace(',','.')
df["vl_total_recurso"] = df["vl_total_recurso"].str.replace(',','.')

#Replace vírgulas e aspas duplas nos nomes das escolas por vazios
df["no_escola"] = df["no_escola"].str.replace(',','')
df["no_escola"] = df["no_escola"].str.replace('"','')

In [8]:
# Salva alterações em novo arquivo csv, utf-8 e sem index
df.to_csv("Atendimento_PDDE_PREVISTO_Formatada.csv", encoding='utf-8-sig', index=False)